:root {
  --color-rust-50: oklch(0.959 0.019 25.68);
  --color-rust-100: oklch(0.918 0.04 23.59);
  --color-rust-200: oklch(0.838 0.086 27.02);
  --color-rust-300: oklch(0.758 0.139 29.75);
  --color-rust-400: oklch(0.677 0.204 35.68);
  --color-rust-500: oklch(0.587 0.186 36.72);
  --color-rust-600: oklch(0.5 0.159 36.84);
  --color-rust-700: oklch(0.411 0.13 36.68);
  --color-rust-800: oklch(0.321 0.102 36.83);
  --color-rust-900: oklch(0.233 0.074 36.12);
  --color-rust-950: oklch(0.184 0.059 36.09);
}

.slidev-layout {
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  font-variant-alternates: character-variant(lc-l-with-tail);

  @apply bg-taupe-50 text-taupe-900;

  --slidev-code-background: theme("colors.shikibg.light");

  h1 {
    @apply font-black text-rust-500 border-b-3 pb-4;
  }

  h2 {
    @apply font-bold text-rust-500;
  }

  strong {
    @apply text-rust-400 font-bold;

    > code {
      @apply font-bold;
    }
  }

  :not(pre) > code {
    @apply bg-taupe-200;
  }

  .slidev-code .line {
    transition: opacity 300ms ease;
  }

  ul {
    @apply list-disc;

    > li::marker {
      @apply text-rust-500;
    }
  }

  .slidev-monaco-container {
    @apply flex flex-col max-h-full;

    .slidev-monaco-container-inner {
      @apply min-h-0 flex-initial;
    }
    .slidev-monaco-container-inner + div {
      @apply min-h-0 flex-initial overflow-auto;
    }
  }

  .slidev-vclick-target {
    transition:
      opacity 300ms ease-in-out,
      translate 300ms ease-in-out;
  }

  .slidev-vclick-hidden {
    @apply opacity-0 translate-y-1 pointer-events-none;
  }
}

.slidev-layout.two-columns:has(.slidev-monaco-container) {
  @apply grid-rows-[minmax(0,1fr)];

  > .col-left,
  > .col-right {
    @apply min-h-0;
  }
}

/* because the .dark is on the html, we need to do this instead of dark:...
   otherwise, it produces incorrect css */
.dark .slidev-layout {
  @apply bg-taupe-900 text-taupe-200;

  --slidev-code-background: theme("colors.shikibg.dark");

  :not(pre) > code {
    @apply bg-taupe-800;
  }

  h1 {
    @apply text-rust-400;
  }

  h2 {
    @apply text-rust-400;
  }

  strong {
    @apply text-rust-300;
  }

  ul > li::marker {
    @apply text-rust-400;
  }
}

.fade-slide-leave-active,
.fade-slide-backward-leave-active,
.fade-slide-enter-active,
.fade-slide-backward-enter-active {
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(40px);
}
.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(-40px);
}

.fade-slide-backward-enter-from {
  opacity: 0;
  transform: translateX(-40px);
}
.fade-slide-backward-leave-to {
  opacity: 0;
  transform: translateX(40px);
}
